.item {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 20px;
}
.item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
}

.btn {
  background-color: transparent;
  outline: transparent;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.btn:active {
  background-color: blue;
  color: white;
}
.btn:focus,
.btn:hover {
  outline: 1px solid blue;
}
