.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 20px;
}
.input {
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid grey;
  outline: transparent;
  padding: 8px;
  font-size: 15px;
}
.input:focus {
  border: 2px solid wheat;
  color: black;
}
